
<header class="details">
    <h1>Wire Transfer Instruction</h1>
</header>
<section>
    <div class="container">
        <div class="description">
            <h5>Company</h5>
            <p>ITELITEul. Szybowcowa 36/2154-130 Wroclaw, Poland</p>
            <p>NIP: PL8942469557 </p>
            <p>REGON: 932673810</p>
            <p>EORI: PL894246955700000</p>
    
            <h5>Bank Account Details</h5>
            <p>Alior BankAl. Jana Pawła II 1800-001 Warszawa, Poland</p>
            <p>SWIFT Code: ALBPPLPW</p><br>
            <p class="account">USD Account No.: <br>PL43249000050000460027372470</p>
            <p class="account">EUR Account No.: <br>PL71249000050000460065634101</p>
            <p class="account">PLN Account No.: <br>61249000050000450033405789</p>
        </div>
        
        <div class="antenna">
            <img [src]="antenna" alt="Antenna image.">
        </div>
    </div>
    <div class="polygon"></div>
    
</section>