.homeView{
    background-color: rgb(245, 182, 37);
}

.elements-center{
    align-items: center;
}

.custom{
    mix-blend-mode: multiply;
    max-height: 500px;
}

.home_image{
    padding-top: 100px;
}

.textTop{
    margin-top: 100px;
}

.hide_antennas{
    display: none !important;
}

.antennas-images{
    display: flex;

    .thumbnail {

        img{
            max-width: 180px;
            filter: drop-shadow(20px 7px 4px #8a8a8f);
        }
    }

    .highlighted{
        border-bottom: 2px solid rgb(129, 129, 129);
    }
}

#image{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: fit-content;
    }
}

.min-header-width{
    max-width: 455px !important;
    padding-right: 38px;

    .extended_text{
        color: #21374d;
        font-size: 23px;
    }
}

@media (max-width: 1500px)
{
    .home_image{
        padding-top: 0px;
    }

    .textTop{
        margin-top: 0px;
        padding-bottom: 45px;
    }
}

@media (max-width: 1150px) {
    .min-header-width h1{
        text-align: center;
    }

    .elements-center{
        padding-top: 190px !important;
        min-height: 60vh;
    }
}