:host{
    display: block;
    margin-top: 110px;
}

.download{
    h2{
        text-align: center;
    }

    .documents{
        margin-top: 45px;
        background: #F5F5F5;
        position: relative;
        width: calc( 100% + 160px);
        left: -80px;
        padding: 45px 0px 95px 0px;

        figure{
            
            width: fit-content;
            margin: auto;
            margin-top: 40px;

            img{
                max-width: 75px;
                mix-blend-mode: multiply;
            }
        }
        
    }
}
