
<div class="container-custom-antenna box">
    <div class="text">
        <h2>Enclosures</h2>
        <span>Specification</span>
    
        <ul>
            <li>UV protected PVC</li>
            <li>High quality construction</li>
            <li>Heavy duty mast mounting elements with easy elevation and tilt adjustments</li>
            <li>Designed for all weather operation</li>
            <li>5 years warranty</li>
        </ul>
    </div>
    <div class="enclosure_img">
        <img [src]="enclosure" alt="Inner enclosure image.">
        <!-- <img [src]="rotator" alt="Rotate image."> -->
    </div>
</div>
