$form-width: 500px;

.form{
    margin-top: 130px;
    display: flex;
    background-color: #203548;
    position: relative;
    left: -80px;
    width: 100% ;
    padding: 0px 80px;

    .box{
        display: flex;
    }

    .image{

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: calc(1300px - $form-width);
            max-height: 745px;
        }
    }

    .contact_us{
        min-width: $form-width;
        color: white;
        background-color: #203548;
        padding: 35px 60px;
        border-right: 1px dashed white;
    }
}

@media (max-width: 1100px)
{
    .form{
        .image{
            display: none;
        }
    }

    .form .box .contact_us{
        border: none;
    }
}

@media (max-width: 800px)
{
    .form{
        .contact_us{
            min-width: auto;
            padding: 35px 0px;

            form{
                width: 365px;
            }
        }
    }
}