
<div class="products">
    <h2>Range of Exceptional <br><span>Antennas</span></h2>

    <div class="antennas">
        <div class="antennas-img">
            <div *ngFor="let antenna of files.antennas">
                <figcaption>
                    <img [src]="antenna[0]" alt="Antenna image">
                    <span>{{antenna[1]}}</span>
                </figcaption>
                
            </div>
        </div>
    </div>
   
</div>

<div class="description">
    <img [src]="files.textBackgroundImage" alt="Background image with assemblied antennas.">
    <p>
        If you need a custom antenna, our company is ready to take on the challenge. 
        We create customized antennas to meet the specific requirements of our customers, 
        providing solutions that are perfectly tailored to your needs. 
        Regardless of your industry or application, our experts will design an antenna that meets all your expectations.
        Beyond antennas we can custom everything from housing mounting to connectors.
    </p>
</div>