/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: max-content;
  font-family: "Inter", sans-serif;
}

app-header-content {
  width: 100% !important;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

button.dark {
  width: 148px;
  height: 46px;
  border-radius: 9.51px;
  background: #1a2c3d;
  border: none;
  font-weight: 600;
  line-height: 19.36px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

h1, h2 {
  color: #1a2c3d;
  font-size: 56.164px;
  font-weight: 700;
}

h2{
    font-size: 45px;
}
