<div class="container">
    <div class="description">
        <h5>About us</h5>
        <p>
            ITELITE was established in 2001. With headquarters office in Poland, offices in Medley, Florida USA and Bogotá, Colombia. 
            We provide wide range of custom made antennas operate in frequencies from 
            400MHz through 700MHz, 900MHz, 1.9GHz, 2.3GHz, 2.7GHz, 3.5GHz, 4.9GHz, 6.4GHz up to 12GHz. 
            More than 20 years of experience puts us in leading edge of custom antenna providers. 
            With satisfied customers all over the world we are able to offer innovative design and quality manufacturing to ensure our antennas 
            provide high performance and reliability expected by professional wireless networks designers.
        </p>

        <h5>Our mission</h5>
        <p>
            Our mission is to use latest technology, supreme quality materials and work closely with our customers 
            to fit high requirements and demands of contemporary wireless networks.
            Flexible manufacturing and production control make us the leader in providing custom antennas for special needs and projects. 
            For the future and beyond.
        </p>
    </div>
</div>