.container{

    padding-bottom: 95px;

    h5{
        font-size: 42px;
        color: #1a2c3d;
        margin-top: 85px;
    }
    
    p{
        margin-top: 19px;
        line-height: 29px;
    }
}