

.filter{
    background-color: rgb(245, 249, 254);
    margin-top: 90px;
    position: relative;
    left: -80px;
    width: calc(100% + 160px);

    padding: 0px 80px;
    box-sizing: border-box;

    .frequencies-span, .features, .radios, .bands{
        padding-top: 15px;

        h2{
            max-width: 1300px;
            margin: auto;
            font-size: 24px;
        }

        ul, .features-list, .bands-list, .companies-list{
            display: flex;
            list-style-type: none;
            border-radius: 13px;
            border: 2px solid rgba(87, 85, 85, 0.123);
            overflow-x: auto;
            width: 100%;
            max-width: 1300px;
            scrollbar-width: none;
            margin: 12px auto 0px auto;

            li, .company{
                padding: 11px 17px;
                white-space: pre;
            }
        }

        .bands-list .bands-list-element img{
            max-width: 100px;
        }

        .features-list, .bands-list, .companies-list {
            justify-content: space-around;

            figure{
                padding: 10px 35px;
                display: flex;
                flex-direction: column;
                position: relative;
                flex-basis: 100%;
                
                &.features-list-element::after{
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0, -50%);
                    height: 25px;
                    width: 2px;
                    background-color: rgba(54, 54, 54, 0.24);
                }

                img{
                    margin: auto;
                }

                figcaption{
                    text-align: center;
                }
            }

            figure:last-of-type::after{
                content: "";
                height: 0px;
                width: 0px;
            }
        }
    }
}

.results{
    max-width: 1300px;
    margin: 135px auto 0px auto;

    .clousure{
        margin: auto;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 50px;

        .antenna{
            width: 285px;
            padding-bottom: 20px;
    
            figure{
                width: 100%;
    
                .frame{
                    padding: 20px;
                    box-sizing: border-box;
                    background-color: rgb(245, 245, 245);
                    border-radius: 14px;
                    width: 100%;
                    display: flex;
        
                    img{
                        max-width: 100%;
                        max-height: 245px;
                        mix-blend-mode: multiply;
                        margin: auto;
                    }
                }
                
                figcaption{
                    padding: 8px 4px;
                    h3{
                        font-weight: 600;
    
                    }
                }
            }
            
        }
    }
}

@media (max-width: 1500px) {
    .results{
        width: 910px;

        .clousure .antenna{
            width: 270px;
        }
    }
}

@media (max-width: 1200px)
{
    .results{
        width: 510px;

        .clousure .antenna{
            width: 230px;
        }
    }
}

@media (max-width: 680px)
{
    .results{
        width: 235px;

        .clousure .antenna{
            width: 235px;
        }
    }
}