
<div class="container-custom-antenna box">
    <div class="text">
        <h2>Enclosures</h2>
        <span>Specification</span>
    
        <ul>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
            <li>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</li>
        </ul>
    </div>
    <div class="enclosure_img">
        <img [src]="enclosure" alt="Inner enclosure image.">
        <img [src]="rotator" alt="Rotate image.">
    </div>
</div>
