
<div class="container">
    <div class="text">
        <h2>Enclosures</h2>
        <span>Specification</span>
    
        <ul>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</ul>
        <ul>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</ul>
        <ul>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</ul>
        <ul>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</ul>
        <ul>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</ul>
    </div>
    <div class="enclosure_img">
        <img [src]="enclosure" alt="Inner enclosure image.">
        <img [src]="rotator" alt="Rotate image.">
    </div>
</div>
