<div class="information">
    <div class="logo">
        <img [src]="logo" alt="ITELITE company logo.">
    </div>
    <div class="contact">
        <p>Email: <a href="mailto: sales@itelite.net">sales&#64;itelite.net</a></p>
        <p>Phone: +48.71.323.0180</p>
        <p>Address: ul.Terenowa 42, 52-231 Wroclaw Poland</p>
    </div>
    <div class="line"></div>
    <div class="rights">
        <p>&#64;2023 ITELITE | All Copy Right</p>
        <div class="socials">
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</div>