<nav>
    <img class="logo" [src]="logo" alt="Logo of ITELITE company">
    <div #burgerMenu class="burger-menu" (click)="toggleList()"><i class="fa-solid fa-bars"></i></div>
    
    <div class="list" *ngIf="displayMenu.flag">
        <ul>
            <li>Home</li>
            <li routerLink="/products" >Products</li>
            <li>Custom Antenna</li>
            <li>Company</li>
            <li>Order</li>
        </ul>
        <button class="dark">Contact Us</button>
    </div>
</nav>

<header>
    <ng-container #headerView></ng-container>
</header>

<main>
    <ng-container #mainView></ng-container>
</main>

<footer>
    <ng-container #footerView></ng-container>
</footer>

<router-outlet></router-outlet>