$nav-list-height: 48px;
$burger-menu-size: 40px;

$dark: #1a2c3d;

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 27px 80px;
    z-index: 999;
    box-sizing: border-box;

    div.burger-menu{
      display: none;
      color: #fff;
      font-size: 24px;

      i{
        line-height: $burger-menu-size;
        margin: auto;
        width: min-content;
        display: block;
      }
    }

    img.logo{
      width: 212px;
      height: fit-content;
    }

    div.list{
      display: flex;
      gap: calc( (18 + 8) * 1px ); //li padding

      ul{
        display: flex;
        height: $nav-list-height;
        list-style-type: none;
        gap: 18px;

        li{
          padding: 0px 8px;
          line-height: $nav-list-height;
        }
      }
    }
}

header {

  height: 100%;

  ::ng-deep img.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
    object-fit: cover;
  }

  ::ng-deep .container {
    padding: 242px 80px 0px 80px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    ::ng-deep div.text {
      display: flex;
      flex-direction: column;
      max-width: 763.836px;
      width: 100%;
      height: fit-content;
      flex-shrink: 0;
      gap: 30px;

      p {
        max-width: 622px;
      }
    }

    div.image {
      
      img {
        max-width: 560px;
        width: 100%;
      }
    }
  }
}

main{
  padding: 0px 80px;
}

@media (max-width: 1500px)
{
  header {
  
    ::ng-deep img.background {
      clip-path: polygon(0 0, 100% 0, 100% 94%, 0 100%) !important;
    }
  }
    
}

@media (max-width: 1200px)
{
  nav{
    padding: 27px 37px;

    div.list{
      gap: calc( (10 + 7) * 1px ); //li padding

      ul{
        gap: 7px;
        li{
          padding: 0px 8px;
          line-height: $nav-list-height;
        }
      }
    }
  }
}

@media (max-width: 980px) {

  nav{

    div.burger-menu{
      display: block;
      width: $burger-menu-size;
      height: $burger-menu-size;
      background-color: $dark;
      border-radius: 10px;
      margin-top: calc( ($nav-list-height - 40px) / 2);
    }

    div.list{
      position: fixed;
      top: 55%;
      left: 50%;
      background-color: $dark;
      transform: translate(-50%, -50%);
      flex-direction: column;
      gap: 0px;
      padding: 15px 65px 25px 65px;
      -webkit-box-shadow: 16px 15px 30px -9px rgb(0 0 0);
      -moz-box-shadow: 16px 15px 30px -9px rgb(0 0 0);
      box-shadow: 16px 15px 30px -9px rgb(0 0 0);

      ul{
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        color: #fff;

        li{
          text-align: center;
          border-bottom: 1px solid white;
        }
      }

      button{
        border-radius: 0;
        margin-top: 7px;
        border-bottom: 1px solid white;
      }
    }
  }
}

@media (max-width: 580px) {

  main{
    padding: 90px 25px 0px 25px;
  }

  ::ng-deep .container {
    padding: 200px 35px 0px 35px !important;

    div.text{
        h1{
            font-size: 42px !important;
        }
    }
  }
}