<nav>

    <img class="logo" [src]="logo" alt="Logo of ITELITE company" routerLink="/">
    <div #burgerMenu class="burger-menu" (click)="toggleList()"><i class="fa-solid fa-bars"></i></div>
    
    <div class="list" *ngIf="displayMenu.flag">

        <ul>
            <li routerLink="/">Home</li>
            <li routerLink="/products" >Products</li>
            <li routerLink="/custom-antenna">Custom Antenna</li>
            <li routerLink="/company">Company</li>
            <li routerLink="/order">Order</li>
        </ul>

        <button [routerLink]="['/company', '3']" class="dark">Contact Us</button>

        <div #search class="search" (mousemove)="appService.showSearchElement(search)" (mouseleave)="appService.hideTheSearchElement(search)">
            <input #inpSearch (input)="appService.searchInputEvent(inpSearch.value)" (focusout)="appService.inputOut(inpSearch.value, search)" type="text">
            <i routerLink="search" class="fa-solid fa-magnifying-glass"></i>
        </div>
        
    </div>

    <div class="searchResults">
        <ul (click)="appService.navigateIntoView($event)" *ngIf="canShowSearchResults">
            <li #searchLi *ngFor="let e of searchResults" [attr.data-search]="e.ant_name? JSON.stringify({component: 'antenna_'+e.ant_name}): JSON.stringify({component: e?.text, id: e?.id, value: e?.data})">
                <p [attr.data-search]="JSON.stringify({component: e?.text, id: e?.id, value: e?.data})" *ngIf="e && !e.ant_name; else antenna;">{{e.text}} / {{e.path}}</p>
                <ng-template #antenna>
                    <div [attr.data-search]="JSON.stringify({component: 'antenna_'+e.ant_name})">
                        <figcaption [attr.data-search]="JSON.stringify({component: 'antenna_'+e.ant_name})">
                            <img [attr.data-search]="JSON.stringify({component: 'antenna_'+e.ant_name})" [src]="e.guid" alt="Antenna photo." role="Icon which presents antenna image.">
                            <div>
                                <p [attr.data-search]="JSON.stringify({component: 'antenna_'+e.ant_name})">{{e.ant_name}}</p>
                                <span [attr.data-search]="JSON.stringify({component: 'antenna_'+e.ant_name})">{{e.freq_name}}</span>
                                <span [attr.data-search]="JSON.stringify({component: 'antenna_'+e.ant_name})">{{e.ant_type}}</span>
                            </div>
                        </figcaption>
                    </div>
                </ng-template>
                <ng-template #emptyList>
                    <p>There is no results.</p>
                </ng-template>
            </li>
        </ul>
    </div>
</nav>

<header>
    <ng-container #container dockerElement [name]="'header'"></ng-container>
</header>

<main>
    <ng-container #container dockerElement [name]="'main'"></ng-container>
</main> 

<footer>
    <ng-container #container dockerElement [name]="'footer'"></ng-container>
</footer>

<router-outlet></router-outlet>