.homeView{
    background-color: rgb(245, 182, 37);
}

.elements-center{
    align-items: center;
}

.custom{
    mix-blend-mode: multiply;
    max-height: 500px;
}

.home_image{
    padding-top: 100px;
}

.textTop{
    margin-top: 100px;
}

.min-header-width{
    max-width: 455px !important;
    padding-right: 38px;

    .extended_text{
        color: #21374d;
        font-size: 23px;
    }
}

@media (max-width: 1500px)
{
    .home_image{
        padding-top: 0px;
    }

    .textTop{
        margin-top: 0px;
        padding-bottom: 45px;
    }
}

@media (max-width: 1150px) {
    .min-header-width h1{
        text-align: center;
    }

    .elements-center{
        padding-top: 190px !important;
        min-height: 60vh;
    }
}