<div class="mounting">

    <div class="background">
    </div>
    
    <figure class="box">
        <img class="mounting_image" [src]="mounting" alt="Image of antenna enclosure.">
        <figcaption>
            <h3>Enclosures</h3>
            <span>Mounting kit – It is a very important node of the antenna design.</span>
            <p>
                Which version do you need? Wall or Mast mounting? Or do you want to put it on the window? 
                Do you need a precision alignment kit for tuning of the dish antenna? Or maybe the usual U-bolts along with clamps?
            </p>
            <span>Do not hesitate to ask our consultant,who will help you.</span>
        </figcaption>
    </figure>
</div>