<img class="background" [src]="files.products.header.backround" alt="Background image containing the antennas group">

<div class="container">

  <div class="text">
    <h1>Explore Every Angle of <span>Excellence with Our Antenna</span></h1>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
      doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
      veritatis eta sunt explicabo.
    </p>
  
    <button class="dark">More Details</button>
  </div>
  
  <div class="image">
      <img [src]="files.products.header.product" alt="Image of state-of-the-art kind antenna.">
  </div>
</div>
