
:host {
    .circle{
        position: absolute;
        z-index: -2;
        left: -75px;
        top: 450px;
    }
    
}

.features{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 180px;
    gap: 205px;


    .antenna{
        img{
            mix-blend-mode: multiply;
            max-width: 480px;
        }
    }

    .features_list{
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2{
            margin-top: -55px;
        }

        ul li{
            margin-top: 18px;
            font-size: 19px;
        }
    }
}

@media (max-width: 1200px) {
    .features{
        gap: 100px;

        .antenna{
            img{
                max-width: 320px;
            }
        }
    }
}

@media (max-width: 900px) {
    .features{
        gap: 0px;

        .antenna{
            display: none;
            img{
                max-width: 320px;
            }
        }
    }
}