
<header class="details">
    <h1>TO GET THE LATEST PRICELIST</h1>
</header>
<section>
    <div class="box">
        <div class="antenna_image">
            <img [src]="antenna" alt="Antenna image.">
        </div>
        <div class="form">
            <div class="background"></div>
            <form [formGroup]="priceListForm" (ngSubmit)="sendEmail()">
                <div>
                    <label for="name" *ngIf="!inpName.value.length">Name</label>
                    <input #inpName type="text" id="name" formControlName="name">
                </div>
                <div>
                    <label for="company" *ngIf="!inpCompany.value.length">Company</label>
                    <input #inpCompany type="text" id="company" formControlName="company">
                </div>
                <div>
                    <label for="email" *ngIf="!inpEmail.value.length">Email</label>
                    <input #inpEmail type="text" id="email" formControlName="email">
                </div>
                <div>
                    <label for="message" *ngIf="!inpMessage.value.length">Name</label>
                    <textarea #inpMessage class="message" type="text" id="message" formControlName="message"></textarea>
                </div>

                <button>SEND</button>
            </form>
        </div>
    </div>
</section>