
<header class="details">
    <h1>TO GET THE LATEST PRICELIST</h1>
</header>
<section>
    <div class="box">
        <div class="antenna_image">
            <img [src]="antenna" alt="Antenna image.">
        </div>
        <div class="form">
            <div class="background"></div>
            <form [formGroup]="priceListForm">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name">
                </div>
                <div>
                    <label for="company">Company</label>
                    <input type="text" id="company" formControlName="company">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email">
                </div>
                <div>
                    <label for="message">Name</label>
                    <textarea class="message" type="text" id="message" formControlName="message"></textarea>
                </div>

                <button>SEND</button>
            </form>
        </div>
    </div>
</section>