<div class="top box">
    <img *ngFor="let image of topImages" [src]="image" alt="Image of antenna enclosure.">
</div>

<div class="content box">
    <div class="text">
        <div>
            <h3>Accessories</h3>

            <p>Our range of antenna accessories includes everything you need to optimize the performance of your equipment. 
                Pigtails are the essential cables that enable you to connect your antenna to your transmitting device. 
                SIM adapters ensure compatibility with different SIM cards for easy connectivity management. 
                The bracket is a practical solution for stable mounting of the antenna in the desired location. 
            </p>
    
            <p>
                Cable grommets with gasket and Ethernet termination (RJ45 socket and plug) guarantee waterproof and reliable connections in harsh environments. 
                In addition, we offer adapters for mounting Cambium and Ubiquiti devices, ensuring versatility and ease of installation. 
                All of our accessories are designed with the highest quality and functionality in mind.
            </p>
        </div>

        <div class="thumbnails">
            <img *ngFor="let image of contentImages" [src]="image" alt="Thumb nail with accessory.">
        </div>
        
    </div>
    <div class="mainImage">
        <img [src]="mainImage" alt="Image of antenna.">
    </div>
</div>