<div class="enclosures">

    <div class="background">
    </div>
    
    <figure class="box">
        <img [src]="antenna" alt="Image of antenna enclosure.">
        <figcaption>
            <h3>Enclosures</h3>
            <span>Which electronics do you want to use?</span>
            <p>
                Our range of antenna enclosures includes a variety of solutions to suit different needs. 
                MRABOX, PRABOX and SRABOX are rugged and functional enclosures that provide antenna protection in a variety of conditions. 
                The aluminum enclosures feature RFI and EMF protection against RF interference. 
                Regardless of your choice, our enclosures guarantee reliability and durability. 
                Our enclosures are made of high-quality materials, are UV resistant and come with a 5-year warranty.
            </p>
        </figcaption>
    </figure>
</div>