
<header class="details">
    <h1>Contact Us</h1>
</header>
<section>
    <div class="box contact">
        <div class="form">
            <form [formGroup]="contactForm">
                <h2>Get In <span>Touch</span></h2>
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name">
                </div>
                <div>
                    <label for="company">Company</label>
                    <input type="text" id="company" formControlName="company">
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id="email" formControlName="email">
                </div>
                <div>
                    <label for="message">Name</label>
                    <textarea class="message" type="text" id="message" formControlName="message"></textarea>
                </div>

                <button>SEND</button>
            </form>
        </div>
         
        <div class="location">
            <div id="map"></div>
        </div>

        <div class="background"></div>
    </div>
    <div class="polygon"></div>
    
</section>